h1{
  background-color: orange;
  height: 300px;
  width: 300px;
  /* border-width: 5px;
  border-style: solid;
  border-color: green; */
  
  border:10px solid green;
  padding: 10px;
  margin:50px 10px 90px 80px;

}
h2{
  background-color: rgb(230, 136, 154);
  border: 2px solid blue;
  padding: 20px;
}
p{
  background-color: aquamarine;
  padding: 20px;
  border: 5px solid rgba(43, 43, 46,0.5);
  border-radius: 20px;
  margin: 35px;
  box-shadow: 10px 10px 10px  rgb(19, 69, 66);
 
}