/* *{
  margin: 0px;
  padding: 0px;
} */


/* h2{
  background-color:orange;
  position: relative;
  left: 10px;

}
h3{
  background-color: pink;
  position: fixed;
   top: 0px;
  left:50px; 
}
h4{
  background-color: brown;
  position: sticky;
  top: 0px;
}
p{
  background-color:chartreuse;
  position: absolute;
  left: 50px;
  top: 70px;
} */
 body{
  margin: 100px;
 }
 #div{
  background-color: yellow;
  width: 280px;
  height: 200px;
 }
 #box1{
  background-color:rgb(0, 85, 131);
  height: 80px;
  width: 80px;
 }
 #box2{
  background-color:rgb(0, 85, 131);
  position: absolute;
  bottom: 0px;
  height: 80px;
  width: 80px;
 }
  #box3{
  background-color:rgb(0, 85, 131);
  height: 80px;
  width: 160px;
  position: absolute;
  top: 0px;
  right: 0px;
 }
 #box4{
  background-color:rgb(0, 85, 131);
  height: 80px;
  width: 160px;
  position: absolute;
  bottom: 0px;
  right: 0px;
 }
 