*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  background: white;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h2{
  text-align: center;
  margin-bottom: 20px;
}

.input-group{
  margin-bottom: 15px;
}

.input-group label{
  display: block;
  margin-bottom: 5px;
}

.input-group input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

small{
  color: red;
  font-size: 12px;
}

button{
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover{
  background: #0056b3;
}
#passwordError{
  display: none;
}
#emailError{
  display: none;
}

#successMsg{
  margin-top: 10px;
  color: green;
  text-align: center;
  font-weight: bold;
}
