#btn
{
  color: black;
  background-color: yellow;
}
#btn1
{
  color: black;
  background-color: yellow;
}
#btn2
{
  color: black;
  background-color: yellow;
}
#p
{
  color: black;
  background-color: yellow;
}