*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body{
  background: #f2f2f2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background: white;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h2{
  margin-bottom: 20px;
}

.progress-box{
  width: 100%;
  height: 25px;
  background: #ddd;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 10px;
}

#progressBar{
  width: 0%;
  height: 100%;
  background: green;
  transition: width 0.3s ease;
}

#percentText{
  margin-bottom: 15px;
  font-weight: bold;
}

button{
  padding: 10px 20px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background: #0056b3;
}
